.div-card {
    width: 12vw;
    background: #480248;
    color: white;

    transition: all .2s ease-in-out;
    cursor: pointer;

    .fa-plus-circle {
        font-size: 20px !important;
        bottom: -10px;
        left: 0;
        position: absolute;
    
        transition: all .2s ease-in-out;
        cursor: pointer;
        color: hsl(59, 100%, 57%);

    }

    .fa-arrows-alt {
        font-size: 24px !important;
        right: 2px;
        top: -27px;
        position: absolute;
    
        transition: all .2s ease-in-out;
        cursor: pointer;
        color: white;
        opacity: 0;

    }

}

.div-card:hover {
    border: 3px solid white;
    transform: scale(1.05);

    .fa-arrows-alt {
        opacity: 1;
    }
    
    .fa-arrows-alt:hover {
        color: white;
        transform: rotate(45deg)  scale(1.39);
        
    
    }

}

.div-collapse {
    border: 2px solid white;
    background: lightgrey;
    z-index: 2;
}


body {
    background: purple;
}

svg {
    color: white;
    font-size: 9em !important;
    margin: auto;
}

.fa-arrows-alt {
    font-size: 24px !important;
    right: -12px;
    top: -12px;
    position: absolute;

    transition: all .2s ease-in-out;
    cursor: pointer;
    color: white;
    content: " ";
}

.fa-arrows-alt:hover {
    color: purple;
    transform: rotate(45deg)  scale(1.39);
    

}


@media (min-width: 768)
{
    .div-card {
        width: 45%;
    
    }
}

@media screen and (max-width: 425px)
{
    .div-card {
        width: 70%;
    
    }
}

