.container-list {
    margin-top: 90px;

    h3 {
        padding: 15px;
    }

    .your-list {
        border: 2px solid white;
        color: white; 
        width: 30%;
        margin: auto;
        padding: 15px;
        text-align: center;
    }

    .div-film {
        position: relative;

        .fa-trash {
            font-size: 20px !important;
            opacity: 0;
            top: 45px;
            right: 17vw;
            position: absolute;
            transition: all .2s ease-in-out;
            cursor: pointer;
        }
    
        &:hover {


            .fa-trash {
                opacity : 1;
                color: red;
                position: absolute;
                top: 45px;
                right: 15vw !important;
    
            }

            .fa-trash:hover {
                font-size: 26px;

                transform: scale(1.15);
                box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    
            }
        }

    }  
}

@media (max-width: 768px) {

    .fa-trash {
        top: 45px !important;
        right: 10vw !important;
    }

    
    .fa-trash:hover {
        font-size: 26px;

        transform: scale(1.15);
        box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);

    }

}

@media (max-width: 473px) {

    .fa-trash {
        top: 45px !important;
        right: 5vw !important;
    }
   

}