.my-container-film {
    display: flex;
    flex-direction: row;
    width: 60%;
    border: 2px solid white;
    border-radius: 5px;
    background: #480248;

    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
        z-index: 5;
        transform:  scale(1.05);
        padding : 10px ;
       
    }

    h4 {
        color: white;
    }

    .gauche {
        height: 110px;

        img {
            max-height: 100%;
        }
    }

    .centre {
        flex-grow: 7;
        padding: 5px 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        background: #480248;
    }

    .droite {
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-check-circle {
            font-size: 30px !important;
            padding: 5px;
            color: green;
        }

        .fa-times {
            font-size: 30px !important;
            padding: 5px;
            color: red;
        }
    }
}

@media (max-width: 768px) {

    .fa-check-circle {
       display: none;
    }
   

}