.manav-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.vide {
    flex:8;
}

.logo {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    
    text-shadow:rgba(0,0,0,0.75) 3px 4px;

}

a.link-logo {
    padding: 0;
}