.people {
    color: white;
}


h1 {

    color: white;
    border: solid 3px white;
    padding: 10px 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.container-gd {
    display: flex;
    flex-direction: row;

    //box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
    .gauche {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 400px;
            border-radius: 10px;
            border: 3px solid white;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
    }

    .droite {
        flex: 5;
    }

}

.btn-film {
    background-color: #480248 !important;
    color: white !important;
    transition: all .2s ease-in-out !important;
}

.btn-film:hover {
    background-color: #480248;
    color: white;

    transform: scale(1.12);
}

.btn-serie {
    background-color: lightgray !important;
    color: #480248 !important;
    transition: all .2s ease-in-out !important;
}

.btn-serie:hover {
    background-color: lightgrey;
    color: #480248;

    transform: scale(1.12);
}

.biographie {
    padding: 15px;

}