
@import './Component/card.scss';
@import './Component/favoris.scss';
@import './Component/film.scss';
@import './Component/filmFav.scss';
@import './Component/gallery.scss';
@import './Component/home.scss';
@import './Component/people.scss';
@import './Component/manav.scss';
@import './Component/footer.scss';

html,
body,
header {
    min-height: 100%;
    background: purple;

}

.navbar {
    z-index: 50;
    background-color: rgba(0,0,0,.3);
}

@media (max-width:740px) {
    .full-page-intro {
        height: 1000px
    }
}


@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}


.page-header {
    z-index: -1;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}


header {
    margin-top: 45px;
    height: 100%;   
}

.my-switch {
    margin-bottom: 80px;
}


