.div-card {
    width: 12vw;
    background: #480248;
    color: white;

    transition: all .2s ease-in-out;
    cursor: pointer;

}

.div-card:hover {
    border: 3px solid white;
    transform: scale(1.05);

}

.div-collapse {
    border: 2px solid white;
    background: lightgrey;
    z-index: 2;
}


body {
    background: purple;
}

svg {
    color: white;
    font-size: 9em !important;
    margin: auto;
}

.fa-plus-circle {
    font-size: 24px !important;
    right: -12px;
    bottom: -12px;
    position: absolute;

    transition: all .2s ease-in-out;
    cursor: pointer;
    //opacity:0; 
}

.fa-plus-circle:hover {
    color: green;
    transform: rotate(90deg)  scale(1.29);
    

}


@media (min-width: 768)
{
    .div-card {
        width: 45%;
    
    }
}

@media screen and (max-width: 425px)
{
    .div-card {
        width: 70%;
    
    }
}

