.carousel-item {

    img {
        width: 100vw;
        padding: 10px 150px;
    }
}

.carousel {
    margin-top: 50px;

    a {
        color: white;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.22);
        }
    }


}